.dev_sect{
	width: 100%;
	
}

.dev_a {
	
}

.dev_h1 {

}

.dev_h2 {

}

.dev_ul {

}

.dev_li {

}

#vert_line {
	background: #fff;	
	background: linear-gradient(180deg, transparent, #353535, transparent);
	background-position: 50%;
	background-repeat: repeat-y;
	background-size: 1px auto;
}